*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'latoregular';
  font-size: 12px;
  background-color: #d2dbdd;
}
/*  
.heading__style {
  padding: 30px 0;
  text-align: center;
  font-family: latobold;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 2px;
  color: #868686;
  background-color: #fff;
  margin-bottom: 30px;
} */

button {
  padding: 15px 20px;
  background: #9b59b6;
  color: #fff;
  border: 2px solid #ecf0f1;
  outline: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  font-family: latoregular;
}

div{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: latoregular;
}


